<%= turbo_frame_tag dom_id(@product) do %>
  <div class="row g-0">
    <div class="col-md-8">
      <div class="card-body">
        <h2 class="card-title"><%= @product.name.capitalize %></h2>
        <%= form_with model: @line_item, class: "ms-5" do |f| %>
          <div class="row justify-content-between">
            <div class="col">
              <h4 class="text-secondary">Quality</h4>
              <div class="btn-group" role="group" aria-label="Flower Quality">
                <%= f.radio_button :quality, 'low', id: 'flower-quality-low', style: 'display:none;', class: 'btn-check' %>
                <label class="btn btn-outline-primary" for="flower-quality-low">Low</label>

                <%= f.radio_button :quality, 'medium', id: 'flower-quality-med', style: 'display:none;', class: 'btn-check' %>
                <label class="btn btn-outline-primary" for="flower-quality-med">Medium</label>

                <%= f.radio_button :quality, 'high', id: 'flower-quality-high', style: 'display:none;', class: 'btn-check' %>
                <label class="btn btn-outline-primary" for="flower-quality-high">High</label>
              </div>
            </div>

            <div class="col">
              <h4 class="text-secondary">Amount</h4>
              <div class="btn-group" role="group" aria-label="Flower Quality">
                <%= f.radio_button :quantity, 1, id: 'flower-qty-1', style: 'display:none;', class: 'btn-check' %>
                <label class="btn btn-outline-primary" for="flower-qty-1">1 Gram</label>

                <%= f.radio_button :quantity, 2, id: 'flower-qty-2', style: 'display:none;', class: 'btn-check' %>
                <label class="btn btn-outline-primary" for="flower-qty-2">2 Grams</label>

                <%= f.radio_button :quantity, 3.5, id: 'flower-qty-3-5', style: 'display:none;', class: 'btn-check' %>
                <label class="btn btn-outline-primary" for="flower-qty-3-5">3.5 Grams</label>

                <%= f.radio_button :quantity, 7, id: 'flower-qty-7', style: 'display:none;', class: 'btn-check' %>
                <label class="btn btn-outline-primary" for="flower-qty-7">7 Grams</label>
              </div>
            </div>

            <div class="col">
              <h4 class="text-secondary">Strain Type</h4>
              <div class="btn-group" role="group" aria-label="Flower Quality">
                <%= f.radio_button :strain_type, 1, id: 'flower-qty-1', style: 'display:none;', class: 'btn-check' %>
                <label class="btn btn-outline-primary" for="flower-qty-1">1 Gram</label>

                <%= f.radio_button :quantity, 2, id: 'flower-qty-2', style: 'display:none;', class: 'btn-check' %>
                <label class="btn btn-outline-primary" for="flower-qty-2">2 Grams</label>

                <%= f.radio_button :quantity, 3.5, id: 'flower-qty-3-5', style: 'display:none;', class: 'btn-check' %>
                <label class="btn btn-outline-primary" for="flower-qty-3-5">3.5 Grams</label>

                <%= f.radio_button :quantity, 7, id: 'flower-qty-7', style: 'display:none;', class: 'btn-check' %>
                <label class="btn btn-outline-primary" for="flower-qty-7">7 Grams</label>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
<% end %>